.bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 45px;
  border-top: 1px solid;
  display: flex;
}

/* Version */
.bottom .version {
  width: 150px;
  border-right: 1px solid;
  line-height: 45px;
  text-align: center;
  user-select: none;
}

/* Status */
.bottom .status {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.bottom .status .save,
.bottom .status .connect {
  margin-right: 10px;
  height: 30px;
  cursor: pointer;
  padding: 0 5px;
}
